---
import { navMenu } from "../config/NavMenu";
---

<nav>
    <ul>
        {
            navMenu.map((item) => (
                <li>
                    {item.path ? (
                        <a href={item.path}>{item.title}</a>
                    ) : (
                        <span>{item.title}</span>
                    )}
                    {item.children && (
                        <ul>
                            {item.children.map((child) => (
                                <li>
                                    <a href={child.path}>{child.title}</a>
                                </li>
                            ))}
                        </ul>
                    )}
                </li>
            ))
        }
    </ul>
</nav>

<style>
    nav > ul {
        display: flex;
        list-style-type: none;
    }
    
</style>
