---
import type { MenuItem } from "../data/NavMenu"; // 导入类型定义
import { navMenu } from "../data/NavMenu"; // 导入菜单数据
import { Icon } from "astro-icon/components";

interface Props {
  items?: MenuItem[]; // 菜单项数组，设为可选
  depth?: number; // 当前深度，设为可选，默认为 0
}

const {
    items = navMenu,
    depth = 0
} : Props = Astro.props; // 设置默认值
---

<ul class={`menu-list level-${depth}`}>
  {
    items.map((item) => (
      <li
        class={`menu-item level-${depth} ${item.children?.length ? "has-children" : ""}`}
      >
        <div class="menu-item-content">
          {item.href ? (
            <a href={item.href} class="menu-link">
              {item.label}
            </a>
          ) : (
            <span class="menu-label">{item.label}</span>
          )}
        </div>
        {item.children && item.children.length > 0 && (
          <Astro.self items={item.children} depth={depth + 1} />
        )}
      </li>
    ))
  }
</ul>
