---
import { siteInfo } from "../data/SiteInfo";

interface Props {
	pageTitle?: string;
	pageDescription?: string;
	pageLang?: string;
}

// 接收 props 参数
const {
	pageTitle = "",
    pageDescription = "",
    pageLang = siteInfo.lang,
} : Props = Astro.props;

// 构建页面标题
const title = pageTitle
    ? `${pageTitle} - ${siteInfo.title}`
    : siteInfo.title;
---

<html lang={pageLang}>
	<head>
        <!--  -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- 页面标题、描述 -->
		<title>{title}</title>
		{pageDescription && <meta name="description" content={pageDescription} />}
		<!-- 网站图标 -->
		<link rel="icon" href={siteInfo.icon} />
		<!-- 全局 CSS 样式 -->
		<link rel="stylesheet" href="/src/styles/global.css" />
	</head>
	<body>
		<slot />
	</body>
</html>
